---
- name: Load local facts
  set_fact:
    db_passwords: "{{ lookup('file', facts_dir + '/db_passwords.fact') | from_json }}"

- name: Install db client
  apt:
    name:
      - "{{ 'mariadb-client' if db_type=='mysql' else 'postgresql-client' }}"
    state: present

- name: Create group kladmins
  group:
    name: kladmins

- name: Create user ksc
  user:
    name: ksc
    group: kladmins
    shell: /sbin/nologin
    create_home: no

- name: Create answers.txt file
  template:
    src: ./answers.txt
    dest: /tmp/answers.txt
  vars:
    db_ip: "{{ ('127.0.0.1' if ksc_ip==mdb_ip else mdb_ip) if db_type=='mysql' else ('127.0.0.1' if ksc_ip==psql_ip else psql_ip) }}"
    db_port: "{{ '3306' if db_type=='mysql' else '5432' }}"

- name: Copy ksc deb file
  copy:
    src: "./{{ ksc_file_name }}"
    dest: /tmp/

- name: Install ksc deb file
  apt:
    deb: "/tmp/{{ ksc_file_name }}"
  environment:
    KLAUTOANSWERS: /tmp/answers.txt

- name: Allow connects from mmc console
  shell: '/opt/kaspersky/ksc64/sbin/klscflag -ssvset -pv klserver -s 87 -n KLSRV_SP_SERVER_SSL_PORT_GUI_OPEN -sv true -svt BOOL_T -ss "|ss_type = \"SS_SETTINGS\";"'

- name: Format kladminserver_srv unit for astra compatibility
  template:
    src: ./kladminserver_srv.service
    dest: /lib/systemd/system/kladminserver_srv.service

- name: Restart kladminserver_srv
  systemd:
    name: kladminserver_srv
    state: restarted
    daemon_reload: yes

- name: Get klserver.cer
  fetch:
    src: /var/opt/kaspersky/klnagent_srv/1093/cert/klserver.cer
    dest: /tmp/

- name: Wait before ksc server up
  wait_for:
    port: 13000
    delay: 120

- name: Create user for web
  shell: "/opt/kaspersky/ksc64/sbin/kladduser -n ksc -p '{{ db_passwords.ksc_web_password }}'"
  register: create_user_result
  retries: 12
  delay: 10
  until: create_user_result.rc == 0
  ignore_errors: true
