[Unit]
Description=Kaspersky Security Center Web Console Management Service

[Service]
Type=simple
WorkingDirectory=/var/opt/kaspersky/ksc-web-console
User=user_management_b_8wjhcdl8
CapabilitiesParsec=PARSEC_CAP_PRIV_SOCK
ExecStart=/usr/bin/env /var/opt/kaspersky/ksc-web-console/node /var/opt/kaspersky/ksc-web-console/pm.updates-manager.js
TimeoutSec=1
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
